apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentbit-config
  labels:
    {{- include "ztka.labels" . | nindent 4 }}
    app.kubernetes.io/name: fluentbit
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: configuration
data:
  custom_parsers.conf: |
    [PARSER]
        Name json_timestamp
        Format json
        Time_Key timestamp
        Time_Format %Y-%m-%dT%H:%M:%S.%LZ
    [PARSER]
        Name json_ts
        Format json
        Time_Key ts
        Time_Format %Y-%m-%dT%H:%M:%S.%LZ
  fluent-bit.conf: |
    [SERVICE]
        Daemon Off
        Flush 1
        Log_Level info
        Parsers_File parsers.conf
        Parsers_File custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port 2020
        Health_Check On
    [INPUT]
        Name tail
        Tag system
        Path /var/log/containers/*paralus*paralus-tail*.log
        Refresh_Interval 5
        DB /var/log/fluentbit.db
        DB.Sync Normal
        Mem_Buf_Limit 5M
        Skip_Long_Lines On
        Read_from_Head True
        multiline.parser  docker, cri
    [INPUT]
        Name tail
        Tag kubectl_api
        Path /var/log/containers/*relay-server*relay-tail*.log
        Refresh_Interval 5
        DB /var/log/fluentbit.db
        DB.Sync Normal
        Mem_Buf_Limit 5M
        Skip_Long_Lines On
        Read_from_Head True
        multiline.parser  docker, cri
    [INPUT]
        Name tail
        Tag kubectl_cmd
        Path /var/log/containers/*prompt*prompt-tail*.log
        Refresh_Interval 5
        DB /var/log/fluentbit.db
        DB.Sync Normal
        Mem_Buf_Limit 5M
        Skip_Long_Lines On
        Read_from_Head True
        multiline.parser  docker, cri
    [FILTER]
        Name parser
        Match system
        Key_Name log
        Parser json_timestamp
    [FILTER]
        Name parser
        Match kubectl_cmd
        Key_Name log
        Parser json_timestamp
    [FILTER]
        Name parser
        Match kubectl_api
        Key_Name log
        Parser json_ts
    [FILTER]
        Name grep
        Match *
        Exclude caller .*
        Exclude stream stderr
    [OUTPUT]
        Name pgsql
        Match *
        Host {{ include "ztka.dbAddr" . | }}
        Port 5432
        User {{ include "ztka.dbUser" . | }}
        Password {{ include "ztka.dbPassword" . | }}
        Database {{ include "ztka.dbName" . | }}
        Table audit_logs
