apiVersion: v1
kind: Secret
metadata:
  name: paralus-db
  labels:
    {{- include "ztka.labels" . | nindent 4 }}
    app.kubernetes.io/component: secret
type: Opaque
data:
  DB_ADDR: {{ include "ztka.dbAddr" . | b64enc | quote }}
  DB_USER: {{ include "ztka.dbUser" . | b64enc | quote }}
  DB_PASSWORD: {{ include "ztka.dbPassword" . | b64enc | quote }}
  DB_NAME: {{ include "ztka.dbName" . | b64enc | quote }}
  DSN: {{ include "ztka.dsn" . | b64enc | quote }}
